<table class="table table-hover">
    <thead style="background-color: #61A340; color:ghostwhite;">
        <tr>
            <th scope="col">
                訂單編號
            </th>
            <th scope="col">
                訂單日期
            </th>
            <th scope="col">
                收件地址
            </th>
            <th scope="col">
                收件人
            </th>
            <th scope="col">
                收件電話
            </th>
            <th scope="col">
                訂單狀態
            </th>
            <th scope="col">
                付款方式
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tbchang">

            <tr>
                <td>1
                </td>
                <td scope="row">2022/1/2
                </td>
                <td>台北市
                </td>
                <td>王小明
                </td>
                <td>0911111111
                </td>
                <td id="state">已收到訂單
                </td>
                <td>
                    現金
                </td>
                <td>
                    <button class="btn btn-outline-secondary" id="back">退貨</button>
                </td>
            </tr>
    </tbody>
</table>

<script>
    $("#back").click(() => {
        $("#state").html("已取消");
    });
</script>