@model IEnumerable<prjProduct_core.ViewModel.CNotificationViewModel>

@{
    ViewData["Title"] = "Notice";
}
@section Style{
    <style>
        #container {
            margin: auto auto;
            width: 30rem;
        }

        .notiul {
            margin: auto auto;
            width: 30rem;
            align-content: center;
            text-align: center;
        }

        .notili {
            display: flex;
            align-items: center;
            border-bottom:1px solid rgb(129,129,129);
            margin-bottom:1px;
        }

            .notili:hover {
                background-color: #F2F4F5;
            }

        .notiData {
            margin: 0 0.9rem;
            margin-top:0.8rem;
            width: 25rem; /*訊息的寬度*/
        }

            .notiData .notiTitle {
                color: black;
                font-weight: 600;
                font-size: 1rem;
            }

            .notiData .subTitle {
                font-weight: 400;
                font-size: 0.8rem;
            }

            .notiData .notiTime {
                font-size: 0.6rem;
                margin-top: 2px;
            }

        .trash {
            cursor: pointer;
            border: none;
            background-color: transparent;
        }
    </style>
}
<div class="breadcrumb-area">
    <!-- Top Breadcrumb Area -->
    <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(img/bg-img/24.jpg);">
        <h2>通知</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#"><i class="fa fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">通知</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container" id="container">
    <ul class="notiul">
        @{
            foreach (var item in Model)
            {
                <li class="notili">
                    <div class="notiData">
                        <div class="notiTitle">訂單 @item.TradeNo</div>
                        <div class="subTitle">此訂單目前的狀態：@item.statement</div>
                        <p class="notiTime">@item.NotifyTime.ToString("R")</p>
                    </div>
                    <div class="notiDel">
                        <button class="trash"><i class="fa-solid fa-trash-can"><span hidden>@item.NotificationId</span></i></button>
                    </div>
                </li>
            }
        }

    </ul>
</div>


@section Scripts{
    <script>
    //刪除訊息
        $(".trash").click(function (e) {
            let notiid = e.currentTarget.textContent;
            let li = $(this).closest(".notili");
             $.post('@Url.Content("~/MemberFactory/DeletNotice")', { "id": notiid },
                function (data) {
                    if (data == "OK") {
                        li.remove();
                    } else {
                        window.location.href = `@Url.Content("~/MemberFactory/DeletNotice")`;
                    }
                })
        });
    //=============多少時間前的通知=====================
    let notiTime = $(".notiTime");
    let timearr = [];
    $.each(notiTime, function (index, value) {
        timearr.push(value.innerText);
    });
    function Ago() {
        let nowTime = new Date().getTime();
        for (let i = 0; i < timearr.length; i++) {
            let NotifyTime = new Date(timearr[i]).getTime();
            let period = nowTime - NotifyTime;
            let days = Math.floor(period / (24 * 60 * 60 * 1000));
            if (days >= 1) {//超過一天
                notiTime.get(i).innerText = `${days}天前`;
            } else {//一天之內
                let hours = Math.floor((period % (24 * 60 * 60 * 1000)) / (1000 * 60 * 60));
                if (hours >= 1) {
                    notiTime.get(i).innerText = `${hours}小時前`;
                } else {//一小時內
                    let minutes = Math.floor((period % (60 * 60 * 1000)) / (1000 * 60));
                    if (minutes >= 1) {
                        notiTime.get(i).innerText = `${minutes}分鐘前`;
                    } else {//一分鐘內
                        notiTime.get(i).innerText = `幾秒鐘前`;
                    }
                }

            }
        }
    }
    Ago();
    $(document).ready(() => {
        let timer = setInterval(Ago, 1000);
    });
    </script>
}