@{ ViewData["Title"] = "Login"; }
@section Style{

    <style>
        .forget:hover {
            text-decoration: none;
        }

        #btneye {
            border: none;
            background-color: transparent;
        }
    </style>
}

<!-- ##### Breadcrumb Area Start ##### -->
<div class="breadcrumb-area">
    <!-- Top Breadcrumb Area -->
    <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(img/bg-img/24.jpg);">
        <h2>登入</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Login</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->
<!-- ##### Login Area Start ##### -->
<div class="checkout_area mb-100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-2"></div>
            <div class="col-12 col-lg-8">
                <div class="checkout_details_area clearfix">
                    <h5>登入會員</h5>
                    <form method="post">
                        <div class="row">
                            <div class="col-12 mb-4">
                                <span id="spwarn" class="text-danger"></span> @*錯誤訊息*@
                            </div>
                            <div class="col-12 mb-4">
                                <input type="text" class="form-control" id="txtAccount" name="txtAccount" min="0" placeholder="請輸入手機號碼" />
                            </div>
                            <div class="input-group col-12 mb-4">
                                <input type="password" class="form-control" id="txtPW" name="txtPW" placeholder="請輸入密碼">
                                <div class="input-group-append">
                                    <button class="btn btn-light" type="button" id="btneye"><i class="fa-solid fa-eye-slash"></i></button>
                                </div>
                            </div>
                            <div class="checkout-btn mt-30" style="margin:auto auto;">
                                <button type="submit" class="btn alazea-btn btn-lg mt-15" id="btnlogin">登入</button>
                                <br />
                                <a href="/Home/Create" style="float: left;" class="forget">註冊</a>
                                <a href="#" style="float: right;" class="" data-toggle="modal" data-target="#boxCenter">忘記密碼</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Checkout Area End ##### -->
<!-- ##### 浮動視窗 ##### -->
<div class="modal fade" id="boxCenter" tabindex="-1" role="dialog" aria-labelledby="boxCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="boxCenterTitle">請輸入您註冊時的電子郵件</h5>
            </div>
            <div class="modal-body">
                <span>我們將會寄給您一組新的密碼，請用新密碼登入</span>
                <input type="email" class="form-control" id="recipient-name" name="MemberEmail">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="sendEmail">送出</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        let eyeclick = false;
        $("#btneye").click(function () {
            eyeclick = !eyeclick;
            if (eyeclick) {
                $("#btneye").html('<i class="fa-solid fa-eye"></i>');
                $("#txtPW").attr("type", "text");
            } else {
                $("#btneye").html('<i class="fa-solid fa-eye-slash"></i>');
                $("#txtPW").attr("type", "password");
            }

        })

        //忘記密碼寄信
        $("#sendEmail").click(function () {
            console.log("AA")
            let mail = $("#recipient-name").val()
            $.get('@Url.Content("~/MemberFactory/SendMail")', { "MemberEmail": mail },
                function (data) {
                    $("#recipient-name").html("");
                    $.boot
                })
        })

        //偵測密碼
        let txtAcc = $("#txtAccount");
        let txtPW = $("#txtPW");
        $("#btnlogin").click(function (eve) {
            eve.preventDefault();
            if (txtAcc.val() == "" || txtPW.val() == "") {
                $("#spwarn").html('<i class="fa-solid fa-circle-xmark">請輸入帳號或密碼</i>');
            }
            else {
                $.post('@Url.Content("~/Home/CanLogin")', { "txtAccount": txtAcc.val(), "txtPW": txtPW.val() }, function (data) {
                    if (data == "OK") {
                        window.location.href = '/'; //「/」回到最外層
                    }
                    else {
                        $("#spwarn").html('<i class="fa-solid fa-circle-xmark">請輸入正確的帳號或密碼</i>');
                    }
                })
            }
        })
    </script>
}


