@inject CoffeeContext pd
@{ ViewData["Title"] = "Login"; }
@section Style{

    <style>
        .forget:hover {
            text-decoration: none;
        }

        #btneye {
            border: none;
            background-color: transparent;
        }

        .btndemo {
            margin-right: 0.4rem;
        }
    </style>
}

<!-- ##### Breadcrumb Area Start ##### -->
<div class="breadcrumb-area">
    <!-- Top Breadcrumb Area -->
    <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(../img/Home-img/02.jpg);">
        <h2>登入</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Login</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->
<!-- ##### Login Area Start ##### -->
<div class="checkout_area mb-100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-2"></div>
            <div class="col-12 col-lg-8">
                <div class="checkout_details_area clearfix">
                    <h5>登入會員</h5>
                    <form method="post">
                        <div class="row">
                            <div class="col-12 mb-4">
                                <span id="spwarn" class="text-danger"></span> @*錯誤訊息*@
                            </div>
                            <div class="col-12 mb-4">
                                <input type="text" class="form-control" id="txtAccount" name="txtAccount" min="0" placeholder="請輸入手機號碼" />
                            </div>
                            <div class="input-group col-12 mb-4">
                                <input type="password" class="form-control" id="txtPW" name="txtPW" placeholder="請輸入密碼">
                                <div class="input-group-append">
                                    <button class="btn btn-light" type="button" id="btneye"><i class="fa-solid fa-eye-slash"></i></button>
                                </div>
                            </div>
                            <div class="checkout-btn mt-30" style="margin:auto auto;">
                                <button type="submit" class="btn alazea-btn btn-lg mt-15" id="btnlogin">登入</button>
                                <br />
                                <a href="/Home/Create" style="float: left;" class="forget">註冊</a>
                                <a href="#" style="float: right;" id="forget" data-toggle="modal" data-target="#boxCenter">忘記密碼</a>
                            </div>
                            <div class="input-group col-12 mb-4" style="margin-top:1rem;">
                                <button type="button" class="btn btn-primary btndemo" id="d1">Demo091</button>
                                <button type="button" class="btn btn-primary btndemo" id="d2">Demo092</button>
                                <button type="button" class="btn btn-primary btndemo" id="d3">Demo093</button>
                                <button type="button" class="btn btn-primary btndemo" id="d4">Demo新註冊</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Checkout Area End ##### -->
<!-- ##### 浮動視窗 ##### -->
<div class="modal fade" id="boxCenter" tabindex="-1" role="dialog" aria-labelledby="boxCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="boxCenterTitle">請輸入您註冊時的電子郵件</h5>
            </div>
            <div class="modal-body">
                <span>我們將會寄給您一組新的密碼，請用新密碼登入</span>
                <input type="email" class="form-control" id="recipient-name" name="MemberEmail">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" id="EmailDemo">Demo</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="sendEmail">送出</button>
            </div>
        </div>
    </div>
</div>

<!-- ##### Footer Area Start ##### -->
<footer class="footer-area bg-img mt-50" style="background-image: url(../img/bg-img/3.jpg);">
    <!-- Main Footer Area -->
    <div class="main-footer-area">
        <div class="container">
            <div class="row">

                <!-- 法定名稱 -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget">
                        <div class="footer-logo mb-30">
                            <a href="/"><img src="/img/Home-img/CLogo.png" alt="" style="width:13em;height:6em"></a>
                        </div>
                        <p>財團法人西夏普文教基金會</p>
                        <div class="social-info">
                            @*<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>*@
                        </div>
                    </div>
                </div>

                <!-- 網站導覽 -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget">
                        <div class="widget-title">
                            <h5>網站導覽</h5>
                        </div>
                        <nav class="widget-nav">
                            <ul>
                                <li><a href="/Shop/view">商品一覽</a></li>
                                <li><a href="/CAboutMe/faceToMe">關於我們</a></li>
                                <li><a href="/CFrog/faceToFrog">雨林聯盟</a></li>
                                <li><a href="/CArticle/faceToArticle">咖啡好文</a></li>
                                <li><a href="/Constellation/faceToConstellation">星座咖啡</a></li>
                                <li><a href="/MemCenter/Index">會員中心</a></li>
                                <li><a href="/Shopping/ShoppingCarEmpty">前往結帳</a></li>
                                <li><a href="/home/onlineServices">即時客服</a></li>
                                <li><a href="https://forms.gle/GuFsMzqkbW2AdNWz9" target="_blank">填寫問券</a></li>
                                <li><a href="#" onclick="window.open('/AIbot.html', '線上客服', 'width=450,height=550')">智能客服</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <!-- 經典咖啡推薦 -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget">
                        <div class="widget-title">
                            <h5>經典咖啡推薦</h5>
                        </div>

                        <!-- Single Best Seller Products -->
                        @{
                            Random rd = new Random();
                            var footpd1 = pd.Products.AsEnumerable().Where(p => p.CategoryId == 1).OrderBy(f => rd.Next()).Take(10);
                            var footpd2 = footpd1.OrderBy(f => rd.Next()).Take(2).ToList();

                            foreach (var item in footpd2)
                            {
                                <div class="single-best-seller-product d-flex align-items-center">
                                    <div class="product-thumbnail">
                                        <a href="/Shop/detail/@item.ProductId"><img src="/images/@item.MainPhotoPath" alt=""></a>
                                    </div>
                                    <div class="product-info">
                                        <a href="/Shop/detail/@item.ProductId">@item.ProductName</a>
                                        <p>NT$@Convert.ToInt32(item.Price)</p>
                                    </div>
                                </div>
                            }
                        }


                        @*<div class="single-best-seller-product d-flex align-items-center">
                                <div class="product-thumbnail">
                                    <a href="/Shop/detail/41"><img src="/images/393e691c-c9f4-4f7b-9321-142467f5894c.jpg" alt=""></a>
                                </div>
                                <div class="product-info">
                                    <a href="/Shop/detail/41">西夏普 夏日驕陽配方</a>
                                    <p>NT$180</p>
                                </div>
                            </div>*@

                    </div>
                </div>

                <!-- 聯絡我們-->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget">
                        <div class="widget-title">
                            <h5>聯絡我們</h5>
                        </div>

                        <div class="contact-information">
                            <p><span>電話:</span> 02-2222-2222</p>
                            <p><span>地址:</span> 台北市大安區復興南路一段390號2樓</p>
                            <p><span>電子郵件:</span> cscoffee@msit141.com.tw</p>
                            <p><span>即時客服聯絡時間:</span> 09:30~18:30</p>
                            @*<p><span>Happy hours:</span> Sat: 2 PM to 4 PM</p>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Bottom Area -->
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="border-line"></div>
                </div>
                <!-- Copywrite Text -->
                <div class="col-12 col-md-6">
                    <div class="copywrite-text">
                        <p>
                            &copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            © MSIT141 西夏普咖啡 ©&copy;
                            <script>document.write(new Date().getFullYear());</script><i class="fa fa-heart-o" aria-hidden="true"></i><a href="#" target="_blank"></a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
                <!-- 底部聯結 -->
                <div class="col-12 col-md-6">
                    <div class="footer-nav">
                        <nav>
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/CAboutMe/faceToMe">About</a></li>
                                <li><a href="/Shop/view">Shop</a></li>
                                <li><a href="/CArticle/faceToArticle">Blog</a></li>
                                <li><a href="/MemCenter/Index">MemberCenter</a></li>
                                <li><a href="/home/onlineServices">Customer Service</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


@section Scripts{
    <script>
        //眼睛
        let eyeclick = false;
        $("#btneye").click(function () {
            eyeclick = !eyeclick;
            if (eyeclick) {
                $("#btneye").html('<i class="fa-solid fa-eye"></i>');
                $("#txtPW").attr("type", "text");
            } else {
                $("#btneye").html('<i class="fa-solid fa-eye-slash"></i>');
                $("#txtPW").attr("type", "password");
            }

        })

        //忘記密碼寄信 TODO 01
        $("#forget").click(() => { $("#recipient-name").val(""); });
        $("#sendEmail").click(function () {
            let mail = $("#recipient-name").val()
            $.get('@Url.Content("~/MemberFactory/SendMail")', { "MemberEmail": mail },
                function (data) {
                    $("#recipient-name").val("");
                    if (data == "sended") {
                        $.bootstrapGrowl("郵件已成功寄出", {
                            ele: "body",
                            type: "success",
                            offset: { from: "top", amount: 300 },
                            align: "center",
                            width: "auto",
                            delay: 3000,
                            allow_dismiss: true,
                            stackup_spacing: 10,
                        })
                    } else{
                        $.bootstrapGrowl("郵件地址有誤", {
                            ele: "body",
                            type: "danger",
                            offset: { from: "top", amount: 300 },
                            align: "center",
                            width: "auto",
                            delay: 3000,
                            allow_dismiss: true,
                            stackup_spacing: 10,
                        })
                    }
                })
        })

        //偵測密碼
        let txtAcc = $("#txtAccount");
        let txtPW = $("#txtPW");
        $("#btnlogin").click(function (eve) {
            eve.preventDefault();
            if (txtAcc.val() == "" || txtPW.val() == "") {
                $("#spwarn").html('<i class="fa-solid fa-circle-xmark">請輸入帳號或密碼</i>');
            }
            else {
                $.post('@Url.Content("~/Home/CanLogin")', { "txtAccount": txtAcc.val(), "txtPW": txtPW.val() }, function (data) {
                    if (data == "OK") {
                        window.location.href = '/'; //「/」回到最外層
                    }
                    else {
                        $("#spwarn").html('<i class="fa-solid fa-circle-xmark">請輸入正確的帳號或密碼</i>');
                    }
                })
            }
        });

        //Demo鍵
        $("#d1").click(() => {
            txtAcc.val("0911111111");
            txtPW.val("0911111111");
        });
        $("#d2").click(() => {
            txtAcc.val("0922222222");
            txtPW.val("0922222222");
        });
        $("#d3").click(() => {
            txtAcc.val("0933333333");
            txtPW.val("0933333333");
        });
        $("#d4").click(() => {
            txtAcc.val("0988555222");
        })
        //忘記密碼Demo
        $("#EmailDemo").click(() => {
            $("#recipient-name").val("akari@@gmail.com");
        })
    </script>
}


