@model prjProduct_core.Models.Member;
@{
    ViewData["Title"] = "Online Services";
}

<style>
.imgAnime{
    transition: all 0.4s
}
.imgAnime:hover{
    transform:scale(2);
}

.neon-effect{
  color:#fff;
  letter-spacing:2px;
}

.neon-effect{
  text-shadow:
    0 0 5px rgba(255, 65, 65, 1),
    0 0 10px rgba(255, 65, 65, 1),
    0 0 20px rgba(255, 65, 65, 1),
    0 0 40px rgba(255, 65, 65, 1);
  animation:neon-shine 2s linear infinite;
}

@@keyframes neon-shine{
  0%{opacity:1;}
  90%{opacity:0.3;}
  100%{color:#232323;}
}
</style>



<div class="breadcrumb-area">
    <!-- Top Breadcrumb Area -->
    <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(../img/Home-img/02.jpg);">
        <h2>線上客服</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="home"><i class="fa fa-home"></i>Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">線上客服</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
@{
    string userName=Model.MemberName;
    if (Model.MemberName == "李小明")
    {
        userName = "(客服)";
    }
<span class="offset-2">@(userName)</span><br />
<button id="btnQ1" class="btn offset-2 mr-1">Demo_Q1</button>
<button id="btnA1" class="btn mr-1">Demo_A1</button>
<button id="btnQ2" class="btn mr-1">Demo_Q2</button>
<button id="btnA2" class="btn mr-1">Demo_A2</button>
<button id="btnA3" class="btn mr-1">Demo_A3</button>
}


@*<div class="row">
        <div class="col-12"><hr/></div>
    </div>*@

@*<h5>個人 ID: <span id="SelfID"></span></h5>*@
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        @*<div class="col-2">暱稱</div>*@
        <div class="col-4"><input type="hidden" id="userInput" value="@Model.MemberName" /></div>
    </div>
    <div class="row flex-column" hidden>
        <div class="col-8 mt-1">
            <span>對像：</span>
            <input type="text" id="sendTo" class="w-50" style="font-size:large" value=李小明 />
        </div>
    </div>
    <div class="row flex-column">
        <div class="col-10 mt-1">
            <span>訊息：</span>
            <input type="text" id="messageInput" class="w-50" style="font-size:large" />
            <input class="btn btn-primary" type="button" id="sendButton" value="發送訊息" />
        </div>
    </div>
    @*for test <img src="~/uploads/desktop.jpg" class="w-25" style="float:right"/>*@
    <form name="image">
        <div class="row flex-column">
            <div class="col-10 mt-1">
                <span>圖片：</span>
                <input name="file" type="file" id="imageInput" accept="image/*" />
                <input class="btn btn-info" type="button" id="imageButton" value="發送圖片" disabled/>
            </div>
        </div>
    </form>

    <div id="listUser" class="row mt-1">
        @*<div id="userA" class="col-1 border border-1 bg-primary">test</div>*@
@*        <div id="userB" class="col-1 border border-1 bg-white">test2</div>*@
    </div>

    <div class="row border" style="min-height:20em" ;>
        <div id="divParent" class="col-12">
            <div id="messagesList"></div>
        </div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
@*<script src="~/js/chat.js"></script>*@


<script>
document.querySelector("#btnQ1").addEventListener("click",()=>{$("#messageInput").val("我朋友送我的咖啡豆你們有沒有賣啊？")})
document.querySelector("#btnA1").addEventListener("click",()=>{$("#messageInput").val("您好，請問是怎樣的咖啡豆？")})
document.querySelector("#btnQ2").addEventListener("click",()=>{$("#messageInput").val("看起來是咖啡色的，聞起來有咖啡味的那種！")})
document.querySelector("#btnA2").addEventListener("click",()=>{$("#messageInput").val("不好意思，請問有照片嗎？")})
document.querySelector("#btnA3").addEventListener("click",()=>{$("#messageInput").val("您好，這是「薩爾瓦多蜜處理勇士莊園甜心寶貝」，賣場有！")})
var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
document.getElementById("sendButton").disabled = true;

let fileUL = document.querySelector("#imageInput");
let sendImage = document.querySelector("#imageButton");
let imgPath = "";
let server="李小明";
let sendTo =server; //servicer memberId==2
let curUser=document.getElementById("userInput").value


connection.on("ReceiveMessage", function (user, message, sendTo) {
    if (message == "") { return };
    if(curUser!=sendTo && curUser!=user) {return};
    let time = new Date();
    let hm = time.getHours() + ":" + (time.getMinutes() < 10 ? '0' : '') + time.getMinutes();
    let head = message.substr(0, 5);
    let body = message.substr(5);

    if(curUser==server){//1客服視窗
        if (head == "ihtgs") {//2傳圖
            if(user==server){//3客服傳圖
                $(`#m${sendTo}`).prepend(`<div class="clearfix mt-1 rounded">
                    <img src="${body}" class="w-25 imgAnime" style="float:right"/>
                </div>`);
            }
            else{//3用戶傳圖
                 if($(`#u${user}`)[0]==null){//4尚未傳訊→新增分頁、訊息頁
                $("#listUser").append(`<div id="u${user}" class="col-1 border border-1" onclick='hideOther("${user}")'>${user}</div>`);
                $("#divParent").append(`<div id="m${user}" hidden></div>`);
            }//續4 
            $(`#u${user}`).attr("class","col-1 border border-1 neon-effect");
                $(`#m${user}`).prepend(`<div class="clearfix mt-1">
                    <img src="${body}" class="w-25 imgAnime"/>
                </div>`);
            }
        }
        else{//2傳文
            if(user==server){//3客服傳訊
                 $(`#m${sendTo}`).prepend(`<div class="clearfix mt-1">
                    <div class="shadow rounded p-1 pull-left bg-primary">
                        <h6 class="text-white">${hm}</h6><h4 class="text-black">客服：${message}</h4>
                    </div>
                 </div>`);
            }
            else{//3用戶傳訊
                if($(`#u${user}`)[0]==null){//4尚未傳訊→新增分頁、訊息頁
                $("#listUser").append(`<div id="u${user}" class="col-1 border border-1" onclick='hideOther("${user}")'>${user}</div>`);
                $("#divParent").append(`<div id="m${user}" hidden></div>`);
            }//續4
            $(`#u${user}`).attr("class","col-1 border border-1 neon-effect");
            $(`#m${user}`).prepend(`<div class="clearfix mt-1">
                <div class="shadow rounded p-1 pull-right bg-light">
                    <h6>${hm}</h6><h4 class="text-success">${user}：${message}</h4>
                </div>
            </div>`);
            }
        }
    }
    else{//1用戶視窗
        if (head == "ihtgs") {SendImg();} 
        else {
            if ($("#userInput")[0].value == server) {
                if ($("#userInput")[0].value == user) {SendMes("客服");}
                else {ReceiveMes(user);}
            }
            else {
                if ($("#userInput")[0].value == user) {SendMes("您");}
                else {ReceiveMes("客服");}
            }
        }
    }

    //============================================
    function SendImg(){
        if ($("#userInput")[0].value == user) {
            $("#messagesList").prepend(`<div class="clearfix mt-1 rounded">
                                            <img src="${body}" class="w-25 imgAnime" style="float:right"/>
                                        </div>`);
        } else {
            $("#messagesList").prepend(`<div class="clearfix mt-1 rounded">
                                            <img src="${body}" class="w-25 imgAnime"/>
                                        </div>`);
        }
    }//right side
    function SendMes(subject){
        $("#messagesList").prepend(`<div class="clearfix mt-1">
            <div class="shadow rounded p-1 pull-right bg-light">
                <h6>${hm}</h6><h4 class="text-success">${subject}：${message}</h4>
            </div>
        </div>`);
    }//left side
    function ReceiveMes(subject){
        $("#messagesList").prepend(`<div class="clearfix mt-1">
            <div class="shadow rounded p-1 pull-left bg-primary">
                <h6 class="text-white">${hm}</h6><h4 class="text-black">${subject}：${message}</h4>
            </div>
        </div>`);
    }
});
//========================================================
function hideOther(user){
    $(`#m${user}`).removeAttr("hidden").siblings().attr("hidden","hidden");
    $(`#u${user}`).attr("class","col-1 border border-1").attr("style","background-color:#95F5FE")
    .siblings().attr("style","background-color:white");
    sendTo=user;
    //document.getElementById("sendTo").value==user; 

}

//=====================send message============================
connection.start().then(function () {
    document.getElementById("sendButton").disabled = false;
}).catch(function (err) {
    return console.error(err.toString());
});

document.getElementById("sendButton").addEventListener("click", function (event) {
    let user = document.getElementById("userInput").value;
    let message = document.getElementById("messageInput").value;
    //sendTo =document.getElementById("sendTo").value; 
    document.getElementById("messageInput").value = "";
    connection.invoke("SendMessage", user, message, sendTo).catch(function (err) {
        return console.error(err.toString());
    });
    event.preventDefault();
});

//================upload image========================
fileUL.addEventListener('change', (evt) => {
    const formData = new FormData(document.image);
    fetch('@Url.Content("~/api/uploadImage")', {
        method: 'POST',
        body: formData
    })
        .then(response => response.text())
        .then(data => {
            imgPath = data
            sendImage.removeAttribute("disabled");
        });
})
//================send image========================
document.getElementById("imageButton").addEventListener("click", function (event) {
    let user = document.getElementById("userInput").value;
    let message = "ihtgs" + imgPath;
    //sendTo =document.getElementById("sendTo").value; 
    connection.invoke("SendMessage", user, message, sendTo).catch(function (err) {
        return console.error(err.toString());
    });
    event.preventDefault();
});


</script>

