@inject CoffeeContext pd
@model prjProduct_core.Models.Member;
@{
    ViewData["Title"] = "Online Services";
}

<style>
    .imgAnime {
        transition: all 0.4s
    }

        .imgAnime:hover {
            transform: scale(2);
        }

    .neon-effect {
        color: #fff;
        letter-spacing: 2px;
    }

    .neon-effect {
        text-shadow: 0 0 5px rgba(255, 65, 65, 1), 0 0 10px rgba(65, 255, 65, 1), 0 0 20px rgba(65, 65, 255, 1), 0 0 40px rgba(65, 65, 65, 1);
        animation: neon-shine 2s linear infinite;
    }

    @@keyframes neon-shine {
        0% {
            opacity: 1;
        }

        90% {
            opacity: 0.3;
        }

        100% {
            color: #232323;
        }
    }

    .Xbox:hover {
        color: red;
        font-weight: bold
    }
</style>



<div class="breadcrumb-area">
    <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(../img/Home-img/02.jpg);">
        <h2>即時線上客服</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-action="Index" asp-controller="home"><i class="fa fa-home"></i>Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">即時線上客服</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
@{
    string userName = Model.MemberName;
    bool ChcekServer()
    {
        return Model.MemberName == "李小明";
    }
    if (ChcekServer())
    {
        userName = "(客服)";
    }
    <span class="offset-2 text-danger">Demo:@(userName)</span>
    <br />
    <button id="btnQ1" class="btn offset-2 mr-1">D_Q1</button>
    <button id="btnA1" class="btn mr-1">D_A1</button>
    <button id="btnQ2" class="btn mr-1">D_Q2</button>
    <button id="btnA2" class="btn mr-1">D_A2</button>
    <button id="btnA3" class="btn mr-1">D_A3</button>
}



<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-4">
            <input type="hidden" id="userInput" value="@Model.MemberName" />
        </div>
    </div>
    <div class="row flex-column" hidden>
        <div class="col-8 mt-1">
            <span>對像：</span>
            <input type="text" id="sendTo" class="w-50" style="font-size:large" value=李小明 />
        </div>
    </div>
    <div class="row flex-column">
        <div class="col-10 mt-1 d-flex">
            <span>訊息：</span>
            <div contenteditable="true" id="messageInput" class="p-0 border border-dark col-8" style="font-size:x-large"></div>
            @*<input type="text" id="messageInput" class="w-50" style="font-size:large" />*@
            <input class="btn btn-primary" type="button" id="sendButton" value="發送訊息" />
            <img id="btnSticker" class="btn p-0 ml-5 mr-3" style="height:20px" src="~/dalala/daMini.gif" />
        </div>
    </div>
    <form name="image">
        <div class="row flex-column">
            <div class="col-12 mt-1 d-flex">
                <div class="col-6">
                    <span>圖片：</span>
                    <input name="file" type="file" id="imageInput" accept="image/*" />
                    <input class="btn btn-info" type="button" id="imageButton" value="發送圖片" disabled />
                </div>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <div id="divStickers" class="col-6" hidden="hidden">
                    <img id="da" class="btn p-0 sticker bg-primary border-3 rounded-3" src="~/dalala/da.gif" />
                    <img id="gj" class="btn p-0 sticker bg-primary border-3 rounded-3" src="~/dalala/gj.gif" />
                    <img id="bb" class="btn p-0 sticker bg-danger border-3 rounded-3" src="~/dalala/bb.gif" />
                    <img id="bu" class="btn p-0 sticker bg-danger border-3 rounded-3" src="~/dalala/bu.gif" />
                    <img id="ha" class="btn p-0 sticker bg-success border-3 rounded-3" src="~/dalala/ha.gif" />
                    <img id="sh" class="btn p-0 sticker bg-success border-3 rounded-3" src="~/dalala/sh.gif" />
                    <img id="wa" class="btn p-0 sticker bg-warning border-3 rounded-3" src="~/dalala/wa.gif" />
                    <img id="qu" class="btn p-0 sticker bg-warning border-3 rounded-3" src="~/dalala/qu.gif" />
                    <img id="zz" class="btn p-0 sticker bg-info border-3 rounded-3" src="~/dalala/zz.gif" />
                    <img id="sz" class="btn p-0 sticker bg-info border-3 rounded-3" src="~/dalala/sz.gif" />
                </div>
            </div>
        </div>
    </form>

    <div id="listUser" class="row mt-1"></div>

    <div class="row border" style="min-height:20em" ;>
        <div id="divParent" class="col-12">
            <div id="messagesList"></div>
        </div>
    </div>
</div>




<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/jquery/jquery-2.2.4.min.js"></script>
<script>
document.querySelector("#btnSticker").addEventListener("click", function () {
    const st = $("#divStickers")
    if (st.attr("hidden")=="hidden") {
        st.removeAttr("hidden");
    }
    else {
        st.attr("hidden", "hidden");
    }
})

$(".sticker").click(function () {
    if ($("#messageInput").text() == "") {
        let str = "ihtgs" + $(event.target).attr("src");
        let user = document.getElementById("userInput").value;
        let message = str;
        connection.invoke("SendMessage", user, message, sendTo).catch(function (err) {
            return console.error(err.toString());
        });
    } else {
        $("#messageInput").append(`<img class="p-0 sticker" style="width:32px" src="${$(event.target).attr("src")}"/>`)
    }
    event.preventDefault();
});


    //============================================
document.querySelector("#btnQ1").addEventListener("click",()=>{$("#messageInput").text("我朋友送我的咖啡豆你們有沒有賣啊？")})
document.querySelector("#btnA1").addEventListener("click",()=>{$("#messageInput").text("您好，請問是怎樣的咖啡豆？")})
document.querySelector("#btnQ2").addEventListener("click",()=>{$("#messageInput").text("看起來是咖啡色的，聞起來有咖啡味的那種")})
document.querySelector("#btnA2").addEventListener("click",()=>{$("#messageInput").text("不好意思，請問有照片嗎")})
document.querySelector("#btnA3").addEventListener("click",()=>{$("#messageInput").text("這是「薩爾瓦多蜜處理勇士莊園甜心寶貝」賣場有")})
var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
document.getElementById("sendButton").disabled = true;

let fileUL = document.querySelector("#imageInput");
let sendImage = document.querySelector("#imageButton");
let imgPath = "";
let server="李小明";
let sendTo =server; //servicer memberId==2
let curUser=document.getElementById("userInput").value


connection.on("ReceiveMessage", function (user, message, sendTo) {
    if (message == "") { return };
    if(curUser!=sendTo && curUser!=user) {return};
    let time = new Date();
    let hm = time.getHours() + ":" + (time.getMinutes() < 10 ? '0' : '') + time.getMinutes();
    let head = message.substr(0, 5);
    let body = message.substr(5);
    let isSticker = body.substr(1, 6) == "dalala";
    let stickerName;
    let frame;
    if (isSticker) {
        stickerName = (body.substr(8, 2));
        frame = $(`#${stickerName}`).attr("class");
    };
    if(curUser==server){
        if (head == "ihtgs") {
            if (user == server) {
                if (isSticker) {
                    $(`#m${sendTo}`).prepend(`<div class="clearfix mt-1 rounded">
                    <img src="${body}" class="${frame}" style="float:right;cursor:default;width:100px"/>
                </div>`);
                } else {
                    $(`#m${sendTo}`).prepend(`<div class="clearfix mt-1 rounded">
                    <img src="${body}" class="w-25 imgAnime" style="float:right"/>
                </div>`);
                }
            }
            else{
                if ($(`#u${user}`)[0] == null) {
                     $("#listUser").append(`<div id="u${user}" class="border border-1" onclick='hideOther("${user}")'>${user} &emsp; <i onclick='hideSelf("${user}")' class="Xbox bi bi-x-square-fill"></i></div>`);
                $("#divParent").append(`<div id="m${user}" hidden></div>`);
                }
                $(`#u${user}`).attr("class", "border border-1 neon-effect");
                if (isSticker) {
                    $(`#m${user}`).prepend(`<div class="clearfix mt-1">
                    <img src="${body}" class="${frame}" style="cursor:default;width:100px"/>
                </div>`);
                } else {
                    $(`#m${user}`).prepend(`<div class="clearfix mt-1">
                    <img src="${body}" class="w-25 imgAnime"/>
                </div>`);
                }
            }
        }
        else{
            if(user==server){
                 $(`#m${sendTo}`).prepend(`<div class="clearfix mt-1">
                    <div class="shadow rounded p-1 pull-right bg-light">
                        <h6>${hm}</h6><h4 class="text-success">客服：${message}</h4>
                    </div>
                 </div>`);
            }
            else
                if($(`#u${user}`)[0]==null){
                    $("#listUser").append(`<div id="u${user}" class="border border-1" onclick='hideOther("${user}")'>${user} &emsp; <i onclick='hideSelf("${user}")' class="Xbox bi bi-x-square-fill"></i></div>`);
                $("#divParent").append(`<div id="m${user}" hidden></div>`);
                }
                $(`#u${user}`).attr("class","border border-1 neon-effect");
            $(`#m${user}`).prepend(`<div class="clearfix mt-1">
                <div class="shadow rounded p-1 pull-left bg-primary">
                    <h6 class="text-white">${hm}</h6><h4 class="text-black">${user}：${message}</h4>
                </div>
            </div>`);
            }
        }
    else{
        if (head == "ihtgs") {SendImg();}
        else {
            if ($("#userInput")[0].value == server) {
                if ($("#userInput")[0].value == user) {SendMes("客服");}
                else {ReceiveMes(user);}
            }
            else {
                if ($("#userInput")[0].value == user) {SendMes("您");}
                else {ReceiveMes("客服");}
            }
        }
    }
    //============================================
    function SendImg(){
        if ($("#userInput")[0].value == user) {
            if (isSticker) {
                $("#messagesList").prepend(`<div class="clearfix mt-1 rounded">
                                            <img src="${body}" class="${frame}" style="float:right;cursor:default;width:100px"/>
                                        </div>`);
            } else {
                $("#messagesList").prepend(`<div class="clearfix mt-1 rounded">
                                            <img src="${body}" class="w-25 imgAnime" style="float:right"/>
                                        </div>`);
            }
        } else {
            if (isSticker) {
                $("#messagesList").prepend(`<div class="clearfix mt-1 rounded">
                                            <img src="${body}" class="${frame}" style="cursor:default;width:100px"/>
                                        </div>`);
            }
            else {
                $("#messagesList").prepend(`<div class="clearfix mt-1 rounded">
                                            <img src="${body}" class="w-25 imgAnime"/>
                                        </div>`);
            }
        }
    }//r
    function SendMes(subject){
        $("#messagesList").prepend(`<div class="clearfix mt-1">
            <div class="shadow rounded p-1 pull-right bg-light">
                <h6>${hm}</h6><h4 class="text-success">${subject}：${message}</h4>
            </div>
        </div>`);
    }//l
    function ReceiveMes(subject){
        $("#messagesList").prepend(`<div class="clearfix mt-1">
            <div class="shadow rounded p-1 pull-left bg-primary">
                <h6 class="text-white">${hm}</h6><h4 class="text-black">${subject}：${message}</h4>
            </div>
        </div>`);
    }
});
//========================================================
function hideOther(user){
    $(`#m${user}`).removeAttr("hidden").siblings().attr("hidden","hidden");
    $(`#u${user}`).attr("class", "border border-1").attr("style", "background-color:#95F5FE")
    .siblings().attr("style","background-color:white");
    sendTo=user;
    };

function hideSelf(user) {
    $(`#m${user}`).remove();
    $(`#u${user}`).remove();
}

//=====================send message============================
connection.start().then(function () {
    document.getElementById("sendButton").disabled = false;
}).catch(function (err) {
    return console.error(err.toString());
});

document.getElementById("sendButton").addEventListener("click", function (event) {
    let user = document.getElementById("userInput").value;
    let message = document.getElementById("messageInput").innerHTML;
    //console.log(message);
    document.getElementById("messageInput").innerText = "";
    connection.invoke("SendMessage", user, message, sendTo).catch(function (err) {
        return console.error(err.toString());
    });
    event.preventDefault();
});

//================upload image========================
fileUL.addEventListener('change', (evt) => {
    const formData = new FormData(document.image);
    fetch('@Url.Content("~/api/uploadImage")', {
        method: 'POST',
        body: formData
    })
        .then(response => response.text())
        .then(data => {
            imgPath = data
            sendImage.removeAttribute("disabled");
        });
})
//================send image========================
sendImage.addEventListener("click", function (event) {
    let user = document.getElementById("userInput").value;
    let message = "ihtgs" + imgPath;
    //console.log(message);
    connection.invoke("SendMessage", user, message, sendTo).catch(function (err) {
        return console.error(err.toString());
    });
    event.preventDefault();
});

</script>

