@model prjProduct_core.Models.Member;
@{
    ViewData["Title"] = "Online Services";
}



<div class="breadcrumb-area">
    <!-- Top Breadcrumb Area -->
    <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(../img/Home-img/02.jpg);">
        <h2>線上客服</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="home"><i class="fa fa-home"></i>Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">線上客服</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>


@*<div class="row">
        <div class="col-12"><hr/></div>
    </div>*@



<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        @*<div class="col-2">暱稱</div>*@
        <div class="col-4"><input type="hidden" id="userInput" value="@Model.MemberName" /></div>
    </div>
    <div class="row flex-column">
        <div class="col-8 mt-1">
            <span>訊息：</span>
            <input type="text" id="messageInput" class="w-75" style="font-size:large" />
            <input class="btn btn-primary" type="button" id="sendButton" value="發送訊息" />
        </div>
    </div>
    @*for test <img src="~/uploads/desktop.jpg" class="w-25" style="float:right"/>*@
    <form name="image">
        <div class="row flex-column">
            <div class="col-8 mt-1">
                <span>圖片：</span>
                <input name="file" type="file" id="imageInput" accept="image/*" />
                <input class="btn btn-info" type="button" id="imageButton" value="發送圖片" disabled/>
            </div>
        </div>
    </form>

    <div class="row m-1"></div>

    <div class="row border" style="min-height:20em" ;>
        <div class="col-12">
            <div id="messagesList"></div>
        </div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>

<script>

const fileUL = document.querySelector("#imageInput");
const sendImage = document.querySelector("#imageButton");
let imgPath = "";

fileUL.addEventListener('change', (evt) => {
    const formData = new FormData(document.image);
    fetch('@Url.Content("~/api/uploadImage")', {
        method: 'POST',
        body: formData
    })
        .then(response => response.text())
        .then(data => {
            imgPath = data
            sendImage.removeAttribute("disabled");
        });
})

document.getElementById("imageButton").addEventListener("click", function (event) {
    var user = document.getElementById("userInput").value;
    var message = "ihtgs"+imgPath;
    connection.invoke("SendMessage", user, message).catch(function (err) {
        return console.error(err.toString());
    });
    event.preventDefault();
});





    //connection.on("ReceiveImage", function (user, message) {
    //    let time = new Date();
    //let hm = time.getHours() + ":" + (time.getMinutes() < 10 ? '0' : '') + time.getMinutes();


    //if ($("#userInput")[0].value == user) {
    //    $("#messagesList").prepend(`<div class="clearfix mt-1">
    //                                    <div class="shadow rounded p-1 pull-right bg-light">
    //                                        <h6>${hm}</h6><h4 class="text-success">您：${message}</h4>
    //                                    </div>
    //                                </div>`);
    //    }
    //else {
    //    $("#messagesList").prepend(`<div class="clearfix mt-1">
    //                                    <div class="shadow rounded p-1 pull-left bg-primary">
    //                                        <h6 class="text-white">${hm}</h6><h4 class="text-black">${user}：${message}</h4>
    //                                    </div>
    //                                </div>`);
    //    }
    //});

    //document.getElementById("imageButton").addEventListener("click", function (event) {
    //    var user = document.getElementById("userInput").value;
    //var message = imgJson;
    //connection.invoke("SendImage", user, message).catch(function (err) {
    //        return console.error(err.toString());
    //    });
    //event.preventDefault();
    //});
</script>

