@model prjProduct_core.Models.Member;
@{
    ViewData["Title"] = "Online Services";
}

<style>
    .imgAnime{
        transition: all 0.4s
    }
    .imgAnime:hover{
        transform:scale(2);
    }

</style>



<div class="breadcrumb-area">
    <!-- Top Breadcrumb Area -->
    <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(../img/Home-img/02.jpg);">
        <h2>線上客服</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="home"><i class="fa fa-home"></i>Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">線上客服</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<button id="btnQ1" class="btn offset-2 mr-1">Demo_Q1</button>
<button id="btnA1" class="btn mr-1">Demo_A1</button>
<button id="btnQ2" class="btn mr-1">Demo_Q2</button>
<button id="btnA2" class="btn mr-1">Demo_A2</button>
<button id="btnA3" class="btn mr-1">Demo_A3</button>

@*<div class="row">
        <div class="col-12"><hr/></div>
    </div>*@



<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        @*<div class="col-2">暱稱</div>*@
        <div class="col-4"><input type="hidden" id="userInput" value="@Model.MemberName" /></div>
    </div>
    <div class="row flex-column">
        <div class="col-8 mt-1">
            <span>訊息：</span>
            <input type="text" id="messageInput" class="w-75" style="font-size:large" />
            <input class="btn btn-primary" type="button" id="sendButton" value="發送訊息" />
        </div>
    </div>
    @*for test <img src="~/uploads/desktop.jpg" class="w-25" style="float:right"/>*@
    <form name="image">
        <div class="row flex-column">
            <div class="col-8 mt-1">
                <span>圖片：</span>
                <input name="file" type="file" id="imageInput" accept="image/*" />
                <input class="btn btn-info" type="button" id="imageButton" value="發送圖片" disabled/>
            </div>
        </div>
    </form>

    <div class="row m-1"></div>

    <div class="row border" style="min-height:20em" ;>
        <div class="col-12">
            <div id="messagesList"></div>
        </div>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>

<script>

const fileUL = document.querySelector("#imageInput");
const sendImage = document.querySelector("#imageButton");
let imgPath = "";

document.querySelector("#btnQ1").addEventListener("click",()=>{
    console.log("click");
    $("#messageInput").val("我朋友送我的咖啡豆你們有沒有賣啊？")
})
document.querySelector("#btnA1").addEventListener("click",()=>{
    console.log("click");
    $("#messageInput").val("您好，請問是怎樣的咖啡豆？")
})
document.querySelector("#btnQ2").addEventListener("click",()=>{
    console.log("click");
    $("#messageInput").val("看起來是咖啡色的，聞起來有咖啡味的那種！")
})
document.querySelector("#btnA2").addEventListener("click",()=>{
    console.log("click");
    $("#messageInput").val("不好意思，請問有照片嗎？")
})
document.querySelector("#btnA3").addEventListener("click",()=>{
    console.log("click");
    $("#messageInput").val("您好，這是「薩爾瓦多蜜處理勇士莊園甜心寶貝」，賣場有！")
})

fileUL.addEventListener('change', (evt) => {
    const formData = new FormData(document.image);
    fetch('@Url.Content("~/api/uploadImage")', {
        method: 'POST',
        body: formData
    })
        .then(response => response.text())
        .then(data => {
            imgPath = data
            sendImage.removeAttribute("disabled");
        });
})

document.getElementById("imageButton").addEventListener("click", function (event) {
    var user = document.getElementById("userInput").value;
    var message = "ihtgs" + imgPath;
    document.getElementById("messageInput").value = "";
    connection.invoke("SendMessage", user, message).catch(function (err) {
        return console.error(err.toString());
    });
    event.preventDefault();
});

</script>

