@model IEnumerable<prjProduct_core.Models.Order>

@{
    ViewData["Title"] = "問卷優惠派發";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1>問卷優惠派發</h1>

<table class="table">
    <thead>
        <tr> 
            <th>
                訂購日期
            </th>
            <th>
                訂單編號
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>       
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td> 
            <td>
                @Html.DisplayFor(modelItem => item.TradeNo)
            </td>    
        </tr>
}
    </tbody>
</table>

<button id="sent" type="button" class="btn btn-success">發送優惠券</button>


@section Scripts
{ 
    <script>
        $('#sent').click(function (e) {
            $.get('@Url.Content("~/Survey/SentCoupon")',
                function (data) {
                    if (data === "Saved") {
                        alert("已成功派發優惠券給會員");
                        window.location.href = '@Url.Content("~/Admin_Dashboard/Index")';
                    }
                    else {
                        alert("派發期間發生錯誤");
                    }

                }
            ) 
        });
    </script>

}