@model List<Product>
@{
    foreach (var item in Model)
    {
        <!-- 熱銷商品 -->
        <div class="single-best-seller-product d-flex align-items-center">
            <div class="product-thumbnail">
                <a href="@Url.Action($"detail", "Shop", new { id = item.ProductId })"><img src="~/images/@item.MainPhotoPath" alt=""></a>@*超連結與圖片路徑*@
            </div>
            <div class="product-info">
                <a href="@Url.Action($"detail", "Shop", new { id = item.ProductId })">@item.ProductName</a>
                <p>@Convert.ToInt32(item.Price).ToString("0")</p>
                <div class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
            </div>
        </div>
    }
}


