    <!-- ##### Breadcrumb Area Start ##### -->
<div class="breadcrumb-area">
    <!-- Top Breadcrumb Area -->
    <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(../img/Home-img/02.jpg);">
        <h2>關於我們團隊</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> 首頁</a></li>
                        <li class="breadcrumb-item active" aria-current="page">關於我</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->
<!-- ##### Portfolio Detaila Area Start ##### -->
<section class="portfolio-details-area section-padding-0-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Portfolio Slides -->
                <div class="portfolio-slides owl-carousel mb-100">
                    <!-- Single Portfolio Slide -->
                    <div class="single-portfolio-slide">
                        <img src="~/images/AboutMe001.png" alt="">
                    </div>
                    <!-- Single Portfolio Slide -->
                    <div class="single-portfolio-slide">
                        <img src="~/images/AboutMe002.png" alt="">
                    </div>
                    <!-- Single Portfolio Slide -->
                    <div class="single-portfolio-slide">
                        <img src="~/images/AboutMe003.png" alt="">
                    </div>

                </div>
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2>西夏普咖啡緣起</h2>
                    @*<p>Design &amp; constructed by Alazea.</p>*@
                </div>
            </div>
        </div>

        <div class="portfolio-text mb-100">
            <div class="row">
                <div class="col-12 col-lg-7">
                    <h5>創辦人故事</h5>
                    <p>&emsp;&emsp;Joy Lee 年紀輕輕即獲得職業咖啡師殊榮的達人咖啡師，輾轉停留於多國、多間聞名世界的頂尖咖啡廳，卻始終沒有找到自己的志業。2018年底，初訪南美的Joy Lee終於在哥倫比亞遇到改變自己人生的一次交談。</p>
                    <p>&emsp;&emsp;咖啡師的專業背景，促使Joy Lee遊走各國城市時，往往都會特別安排一兩日到當地的咖啡莊園觀覽，多年的遊歷經歷，她見識過許多咖啡莊園的工人在沒有穿防護衣的情況下直接施用化學肥料、除蟲劑等，Joy Lee對此雖然於心不忍，但也不能多說什麼？然而，在哥倫比亞，她遇到了一間特別的咖啡莊園，莊園內的工人穿戴裝業防護服進行工作，也幾乎沒有看到童工存在，這讓她不由得感到詫異無比，好奇這間莊園的特殊之處。經與莊園主人洽詢，才知道該莊園原來加入了樹蛙雨林聯盟！</p>
                    <p>&emsp;&emsp;在哥倫比亞的特殊體驗後，Joy Lee認識到了雨林聯盟這個國際組織，經過多方了解，發現聯盟的使命和作為皆與自己的理念及其相符，深受觸動，投身進行推廣。目前Joy Lee在台灣，是非常有名的咖啡師，許多政商名流聚會時也會邀請她前往展露身手。Joy Lee亦趁此機會推廣樹蛙雨林聯盟及轄下產品。</p>
                </div>
                <div class="col-12 col-lg-5">
                    <h5>成就與獎項</h5>
                    <ul>
                        <li><i class="fa fa-check"></i> 世界盃杯測師大賽 (WCTC)&emsp;&emsp;冠軍</li>
                        <li><i class="fa fa-check"></i> 世界盃沖煮大賽 (WBrC)&emsp;&emsp;亞軍</li>
                        <li><i class="fa fa-check"></i> 台灣咖啡大師比賽&emsp;&emsp;亞軍</li>
                        <li><i class="fa fa-check"></i> Big 7 Travel評選「亞洲50 間最棒咖啡店」&emsp;&emsp;第三名</li>
                    </ul>
                </div>
                <div class="col-12">
                    <h5>創辦西夏普咖啡</h5>
                    <p>&emsp;&emsp;2021年，新冠疫情影響全球，Joy Lee迫不得已回到了台灣，閒暇時間與幾位好友合資開創了「西夏普咖啡」，透過Joy Lee的專業背景與多國遊歷的經歷，西夏普咖啡從世界各地的莊園中取得風味各具匠心的咖啡豆，讓國人可以體驗經專業咖啡師嚴選的經典咖啡。另外，基於Joy Lee本人的希望，西夏普咖啡也將「樹蛙雨林聯盟」認證的咖啡豆特別列式並進行多方堆廣，讓西夏普的用戶在品嘗美味咖啡的同時，也能為地球的熱帶雨林與受壓迫的咖啡農盡一份心力！</p>
                </div>
            </div>
        </div>
    </div>

    <!-- ##### 組員(頭) ##### -->
    <section class="team-area section-padding-30-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading -->
                    <div class="section-heading text-center">
                        <h2>團隊成員</h2>
                        @*<p>A team of dedicated experienced professionals.</p>*@
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Team Member Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-team-member text-center mb-100">
                        <!-- Team Member Thumb -->
                        <div class="team-member-thumb">
                            <img src="~/imageAboutMe/AboutMe02.png" alt="">
                        </div>
                        <!-- Team Member Info -->
                        <div class="team-member-info mt-30">
                            <h5>Daniel</h5>
                            <p>CEO</p>
                        </div>
                    </div>
                </div>

                <!-- Single Team Member Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-team-member text-center mb-100">
                        <!-- Team Member Thumb -->
                        <div class="team-member-thumb">
                            <img src="~/imageAboutMe/AboutMe01.png" alt="">
                        </div>
                        <!-- Team Member Info -->
                        <div class="team-member-info mt-30">
                            <h5>Joy Lee</h5>
                            <p>創辦人</p>
                        </div>
                    </div>
                </div>

                <!-- Single Team Member Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-team-member text-center mb-100">
                        <!-- Team Member Thumb -->
                        <div class="team-member-thumb">
                            <img src="~/imageAboutMe/AboutMe03.png" alt="">
                        </div>
                        <!-- Team Member Info -->
                        <div class="team-member-info mt-30">
                            <h5>Rupert</h5>
                            <p>CFO</p>
                        </div>
                    </div>
                </div>

                <!-- Single Team Member Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member text-center mb-100">
                        <!-- Team Member Thumb -->
                        <div class="team-member-thumb">
                            <img src="~/imageAboutMe/AboutMe04.png" alt="">
                        </div>
                        <!-- Team Member Info -->
                        <div class="team-member-info mt-30">
                            <h5>Matthew</h5>
                            <p>營銷人員</p>
                        </div>
                    </div>
                </div>
                <!-- Single Team Member Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member text-center mb-100">
                        <!-- Team Member Thumb -->
                        <div class="team-member-thumb">
                            <img src="~/imageAboutMe/AboutMe05.png" alt="">
                        </div>
                        <!-- Team Member Info -->
                        <div class="team-member-info mt-30">
                            <h5>Evanna</h5>
                            <p>營銷人員</p>
                        </div>
                    </div>
                </div>
                <!-- Single Team Member Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member text-center mb-100">
                        <!-- Team Member Thumb -->
                        <div class="team-member-thumb">
                            <img src="~/imageAboutMe/AboutMe06.png" alt="">
                        </div>
                        <!-- Team Member Info -->
                        <div class="team-member-info mt-30">
                            <h5>Bonnie</h5>
                            <p>營銷人員</p>
                        </div>
                    </div>
                </div>
                <!-- Single Team Member Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member text-center mb-100">
                        <!-- Team Member Thumb -->
                        <div class="team-member-thumb">
                            <img src="~/imageAboutMe/AboutMe07.png" alt="">
                        </div>
                        <!-- Team Member Info -->
                        <div class="team-member-info mt-30">
                            <h5>Tom</h5>
                            <p>營銷人員</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ##### 組員(尾) ##### -->

</section>

<!-- ##### All Javascript Files ##### -->
<!-- jQuery-2.2.4 js -->
<script src="js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="js/active.js"></script>

