@model IEnumerable<prjProduct_core.ViewModel.CConstellationViewModel>

<style>
</style>

<a href="faceToConstellation#ConId+1"><img src="~/Constellation/Constellation01.jpg" class="img13 img1"></a>
<a href="faceToConstellation#ConId+2"><img src="~/Constellation/Constellation02.jpg" class="img13 img2"></a>
<a href="faceToConstellation#ConId+3"><img src="~/Constellation/Constellation03.jpg" class="img13 img3"></a>
<a href="faceToConstellation#ConId+4"><img src="~/Constellation/Constellation04.jpg" class="img13 img4"></a>
<a href="faceToConstellation#ConId+5"><img src="~/Constellation/Constellation05.jpg" class="img13 img5"></a>
<a href="faceToConstellation#ConId+6"><img src="~/Constellation/Constellation06.jpg" class="img13 img6"></a>
<a href="faceToConstellation#ConId+7"><img src="~/Constellation/Constellation07.jpg" class="img13 img7"></a>
<a href="faceToConstellation#ConId+8"><img src="~/Constellation/Constellation08.jpg" class="img13 img8"></a>
<a href="faceToConstellation#ConId+9"><img src="~/Constellation/Constellation09.jpg" class="img13 img9"></a>
<a href="faceToConstellation#ConId+10"><img src="~/Constellation/Constellation10.jpg" class="img13 img10"></a>
<a href="faceToConstellation#ConId+11"><img src="~/Constellation/Constellation11.jpg" class="img13 img11"></a>
<a href="faceToConstellation#ConId+12"><img src="~/Constellation/Constellation12.jpg" class="img13 img12"></a>

<a href="faceToConstellation#ConId+1"><img src="~/Constellation/Constellation01.png" class="img14 img15"></a>
<a href="faceToConstellation#ConId+2"><img src="~/Constellation/Constellation02.png" class="img14 img16"></a>
<a href="faceToConstellation#ConId+3"><img src="~/Constellation/Constellation03.png" class="img14 img17"></a>
<a href="faceToConstellation#ConId+4"><img src="~/Constellation/Constellation04.png" class="img14 img18"></a>
<a href="faceToConstellation#ConId+5"><img src="~/Constellation/Constellation05.png" class="img14 img19"></a>
<a href="faceToConstellation#ConId+6"><img src="~/Constellation/Constellation06.png" class="img14 img20"></a>
<a href="faceToConstellation#ConId+7"><img src="~/Constellation/Constellation07.png" class="img14 img21"></a>
<a href="faceToConstellation#ConId+8"><img src="~/Constellation/Constellation08.png" class="img14 img22"></a>
<a href="faceToConstellation#ConId+9"><img src="~/Constellation/Constellation09.png" class="img14 img23"></a>
<a href="faceToConstellation#ConId+10"><img src="~/Constellation/Constellation10.png" class="img14 img24"></a>
<a href="faceToConstellation#ConId+11"><img src="~/Constellation/Constellation11.png" class="img14 img25"></a>
<a href="faceToConstellation#ConId+12"><img src="~/Constellation/Constellation12.png" class="img14 img26"></a>

<div class="breadcrumb-area">
    <!-- Top Breadcrumb Area -->


    <div class="container">
        <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center bgimg1">
            <h2>星座咖啡</h2>
        </div>
        <div class="row">
            <div class="col-12 col-lg-3"></div>
            <div class="col-12 col-lg-8">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a style="color:forestgreen" href="/"><i class="fa fa-home"></i> Home</a>
                        </li>
                        <li style="color:white" class="breadcrumb-item active" aria-current="page">星座咖啡</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->
<!-- ##### Blog Area Start ##### -->
<section class="alazea-blog-area mb-100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3"></div>
            <div class="col-12 col-lg-6">
                <p style="color:white" class="post-excerpt">&emsp;&emsp;以一杯咖啡展開一整天的元氣，是許多人的日常，無論是單品或義式咖啡，各式各樣風味的咖啡往往讓人陷入選擇困難。而剛開始接觸咖啡的新朋友們往往因錯買不適合自己口味的咖啡，終至對咖啡棄若敝屣。有人喜歡明亮酸水果風味，有人喜歡木質花茶香，也有人喜歡堅果巧克力風味。面對那麼多種咖啡，哪一種最適合你呢？快來品嘗12星座專屬的開運咖啡吧！</p>
                <br />
                <br />
                <br />
            </div>
        </div>
        <div class="row">

            @{ foreach (var item in Model)
                {
    <div class="col-12 col-lg-3"></div>
                    <div class="col-12 col-lg-6">
                        <div class="single-blog-post mb-50">
                            <div class="post-content" id="ConId+@item.ConstellationId">
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <h4 style="color:white">
                                    <input type="hidden" name="ArticleId" />
                                    @item.ConstellationName
                                </h4>
                                <h5 style="color:white">
                                    @item.ConstellationDate
                                </h5>
                                <p style="color:white" class="post-excerpt">@Html.Raw(item.ConstellationDescription.Replace(" ", "</p><p style='color: white'>&emsp;&emsp;").Replace("@@@@", item.productName))</p>@*資料庫修正*@
                                <div style="text-align:right">
                                    <a href="@Url.Action($"detail", "Shop",new { id = item.ConstellationProductId})"><label style="color:white">GoTo咖啡豆</label></a>@*修正action連結咖啡細節*@
                                </div>

                            </div>
                        </div>
                    </div>
                                    <div class="col-12 col-lg-3"></div> } }


        </div>
    </div>
</section>


<!-- ##### All Javascript Files ##### -->
<!-- jQuery-2.2.4 js -->
<script src="js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="js/active.js"></script>
<link href="~/css/ForConstellation.css" rel="stylesheet" />
@section Scripts{
    <script>
        $("body").addClass("body1")
    </script>
}
