@model IEnumerable<prjProduct_core.ViewModel.CProductViewModel>
@{
    ViewData["Title"] = "partialView";
}

@{
    foreach (var pd in Model)
    {
        <!-- Single Product Area -->
        <div class="col-12 col-sm-6 col-lg-4">
            <div class="single-product-area mb-50">
                <!-- Product Image -->
                <div class="product-img">
                    <a href="shop-details.html"><img src="../img/Home-img/02.jpg" alt=""></a>
                    <!-- Product Tag -->
                    <div class="product-tag">
                        <a href="#">Hot</a>
                    </div>
                    <div class="product-meta d-flex">
                        <a href="#" class="wishlist-btn"><i class="icon_heart_alt"></i></a>
                        <a style="cursor:pointer" class="add-to-cart-btn">Add to cart</a>
                        <a href="javascript:void(0);" class="compare-btn" ><i class="arrow_left-right_alt"></i><span hidden id="comid">@pd.ProductId</span></a>
                    </div>
                </div>
                <!-- Product Info -->
                <div class="product-info mt-15 text-center">
                    <a>
                        @Html.ActionLink(@pd.ProductName, "detail", new { id = pd.ProductId }, new { })
                    </a>
                    <h6>$@(Convert.ToInt32( pd.Price).ToString("0.0"))</h6>
                </div>
            </div>
        </div>
    }
}

<script>
    $(".compare-btn").click(function () {
        let comid = $(this.children).text();
        $.get('@Url.Content("~/compare/AddCompare")', { "id": comid },
            function (data) {
                alert(data);
            }
        );
    })
</script>